.hidden {
    display: none;
}

.lfr-portlet-toolbar .lfr-toolbar-button.monitor-button a {
    background-image: url(/html/icons/monitoring.png);
}

#websocket-monitor-container {
    height: 400px;
}